// style.scss
@import './mixin.scss'; // Импорт файла mixins.scss
@import './common';
.header {
	position: sticky;
	top: 0; // Фиксируем заголовок в верхней части экрана
	z-index: 1000;
	background-color: #F9F9F9;
	&__container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 135px;
		// margin-top: 48px;
		padding: 0px 90px 0px;
		border-bottom: 2px solid #cbcbcb;
		column-gap: 3%;	
	}
   
    &__left,
    &__right,
	&__brand {
        display: flex;
        align-items: center;
    }
	
    &__list {
        list-style: none;
        display: flex;
        margin-left: 40px;
		
        li {
			@include font-inter;
			font-size: 18px;
            margin-right: 53px;
			font-weight: 500;
        }
    }
	&__title{
		@include font-poppins;
		font-size: 24px;
		font-weight: 600;
		color: #6C5FBC;
		margin-left: 10px;
	}
	
}

.item{

	&__link{

		text-decoration: none;
		color:#606060;
		&:hover{
			color: #6C5FBC
		}
	}
}


.auth{
	&__button{

		width: 121px;
		height: 52px;
		
	}
}
